<div class="card-wrapper">
  <div class="card">
    <div class="card-header">
      <img src="" class="card-img-top" alt="">

      <a href="#" class="bookmark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.7 13.57">
          <path class="cls-1" stroke-miterlimit="10" fill="none"
                d="M.5.72V12.86A.22.22,0,0,0,.87,13L4.78,9.1a.21.21,0,0,1,.31,0L8.83,13a.21.21,0,0,0,.37-.15V.72A.21.21,0,0,0,9,.5H.72A.22.22,0,0,0,.5.72Z"></path>
        </svg>
      </a>

      <span class="badge badge-danger">Bundle 33.33% Savings</span>
    </div>

    <div class="card-body">
      <a href="#" class="author">
        <img class="author-avatar" src="../../images/avatar.jpg" alt="avatar">
        <span class="author-name">David Adan</span>
      </a>

      <h5 class="card-title">Intro to Terrains in Houdini and Unreal</h5>

      <div class="price">
        <span class="price-current text-primary">$22.99</span>
        <span class="price-full">$49.00</span>

        <span class="sale-badge text-danger">15% OFF</span>
        <a href="#" class="additional-link">Bundle <img src="../../images/icon/info.svg" alt="info"></a>
      </div>
    </div>

    <div class="card-footer">
      <div class="btn-list">
        <a href="#" class="btn btn-warning">Add to Cart</a>
        <a href="#" class="btn btn-primary">Quick Buy</a>
      </div>
    </div>
  </div>
</div>
