<ul class="navigation-menu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogin" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Guest
      <i class="fa fa-user fa fa-white"></i>
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownLogin">
      <a class="dropdown-item justify-content-between" href="/login.php">
        Login
        <i class="fa fa-user float-right"></i>
      </a>

      <a class="dropdown-item" href="/register.php">
        Register
      </a>
    </div>
  </li>
</ul>
