.page {
  &-header {
    padding: 0;
    margin: 0;
    background: $dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1060;

    .collapsible {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        position: fixed;
        top: 78px;
        left: 0;
        width: 100%;
        bottom: 0;
        display: block;
        flex-wrap: nowrap;
        backdrop-filter: blur(5px);
        background-color: rgba($dark, .875);
        z-index: 200;
        pointer-events: none;
        opacity: 0;
        will-change: opacity;
        transition: .3s opacity ease-in-out;
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          display: none;
          width: 0; /* remove scrollbar space */
          background: transparent; /* optional: just make scrollbar invisible */
        }
      }
    }

    .navigation.active .collapsible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
