<header class="page-header">
  <div class="container">
    <div class="navigation">
      <div class="navigation-brand">
        ${require('../component/logo.html').default}
      </div>

      <div class="collapsible">
        <ul class="navigation-menu">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBrowse" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownBrowse">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              Teach
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWorkshop" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Workshops
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownWorkshop">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item disabled" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMore" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMore">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>

        <form class="form-inline navigation-form" autocomplete="on">
          <div class="form-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" required>

            <button class="btn btn-none" type="submit">
              <img src="../../images/icon/magnifier.svg" alt="search">
            </button>
          </div>
        </form>
      </div>

      <div class="navigation-cta">
        <a href="#" class="btn btn-none">Sign In</a>
        <a href="#" class="btn btn-lg btn-primary btn-cta">Get Started</a>
      </div>

      <button class="toggle-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
